body{
  max-width: 200px;
  background-color: aliceblue;
}

h1{
 text-align: center;
}
h2{
  text-align: center;
}
footer{
  text-align: center;
}
.city{
font-size: 23px;
margin: 0 auto;
display: block;
}
.container{
  border: 10px solid rgba(180, 177, 188, 0.2);
border-radius: 20px;
}