body{
  background-color: aliceblue;
  font-family: sans-serif;
}

h1{
 text-align: center;
 font-family: sans-serif;
 font-size: 36px;
}
h2{
  text-align: center;
}
footer{
  text-align: center;
}
  select{
    display: block;
    width: 100%;
    border-radius: 4px;
    padding: 10px;
    font-size: 18px;
  }
.city{
font-size: 23px;
margin: 0 auto;
display: block;
}
.container{
  background-color: beige;
  padding: 30px;
 
  margin: 0 auto;
 max-width: 600px;
  border: 10px solid rgba(180, 177, 188, 0.2);
border-radius: 20px;
}